<include src='layouts/main'>
  <arg pageContent>
    <article>
      <p>{pageDescription}</p>
      <form action='/arcadePlayMode' method='post' name='arcadePlay'>
        <input type='submit' value='Enter'><br>
      </form>
      <if numberOfPlayers>
        <p>Number of players: {numberOfPlayers}</p>
        <form action='' method='post' name='arcadePlayersNames'>
          <loop through='numberOfPlayersArray' val='number'>
            <input type='text' name='playerName{number}'>
            <br><br>
          </loop>
          <input type='submit' value='Enter'><br>
        </form>
      </if>
    </article>
  </arg>
</include>