<include src='layouts/main'>
  <arg pageContent>
    <article>
      <p>{pageDescription}</p>
      <form action='/quickPlayMode' method='post' name='quickPlay'>
        <select size='{size}' name='numberOfPlayers' autofocus>
          <loop through='playerCount' key='playerCount' val='count'>
            <option value='{count}'>{count}</option>
          </loop>
        </select>
        <input type='submit' value='Enter'><br>
      </form>
      <if numberOfPlayers>
        <p>Number of players: {numberOfPlayers}</p>
        <form action='/getPlayersNames' method='post' name='quickPlayersNames'>
          <loop through='numberOfPlayersArray' val='number'>
            <input type='text' name='playerName{number}'>
            <input type='hidden' name='numberOfPlayers' value='{numberOfPlayers}'> 
            <br><br>
          </loop>
          <input type='submit' value='Enter'><br>
        </form>
      </if>
    </article>
  </arg>
</include>