<include src='layouts/main'>
  <arg pageContent>
    <article>
      <p>{pageDescription}</p>
      <table>
        <thead>
          <th>Round</th>
          <loop through='playersNamesArray' val='player'>
            <th>{player}</th>
          </loop>
          <th>Hide Score</th>
          <th>Submit Round</th>
        </thead>
        <tbody>
          <loop through='rounds' val='round'>
            <tr>
              <td>{round}</td>
              <loop through='playersNamesArray' key='i' val='player'>
                <td><input type='number' name='player{i}Round{round}' id='player{i}Round{round}' min='0' max='300'></td>
              </loop>
              <td><input type="checkbox" name="hideScore" value="true"></td>
              <td><input type="checkbox" name="submitRound" value="true"></td>
            </tr>
          </loop>
        </tbody>
        <tfoot>
          <tr>
            <td>Final Score</td>
            <loop through='playersCountArray' val='count'>
              <td id='finalScorePlayer{count}'>0</td>
            </loop>
            <td><input type="checkbox" name="hideScore" value="true"></td>
            <td><input type="checkbox" name="submitRound" value="true"></td>
          </tr>
        </tfoot>
      </table>
      <input type='hidden' id='nubmerOfPlayers' value='{numberOfPlayers}'>
      <input type='hidden' id='dominoSetSize' value='{dominoSetSize}'>
    </article>
  </arg>
</include>